/* Grid area size variable */
:root {
    --grid-area-size: 550px;
}

/* Background color of the whole app */
body {
    background-color: #F1FAEE;
}

/* Headings and labels */
h1, h3, h4, label {
    text-align: center;
    color: #1D3557;
}

/* Container holding the menu and drawing area */
.flex-container {
    display: flex;
    justify-content: space-around;
}

/* Manu container */
#menu {
    max-width: 15%;
    background-color: #A8DADC;
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #457B9D;
    border-radius: 2rem;
}

/* Containers for respective menu items */
.grid-size-container, 
.drawing-mode-container, 
.paint-color-picker-container {
    border: 2px solid #457B9D;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.grid-size-container {

}

/* Button stylings */
button {
    background-color: #A8DADC;
    color: #1D3557;
    border: 2px solid #457B9D;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
}

.button-hovered {
    background-color: #457B9D;
    color: #F1FAEE;
}

.button-on {
    background-color: #457B9D;
    color: #F1FAEE;
}

/* Slider styling */
#grid-size-slider {
    -webkit-appearance: none;
    outline: none;
    opacity: 0.8;
    background: #457B9D;
    border-radius: 0.5rem;
}

#grid-size-slider:hover {
    opacity: 1;
}

#grid-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #1D3557;;
  cursor: pointer;
}

#grid-size-slider::-moz-range-thumb {
    width: 1.2rem;
    height: 1.2rem;
    background: #1D3557;
    cursor: pointer;
  }

/* Container for the drawing area */
#grid-area {
    background-color: #D4D4D4;
    border: 40px solid rgba(253, 0, 0, .6);
    border-radius: 2rem;
    height: var(--grid-area-size);
    width: var(--grid-area-size);
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    cursor: crosshair;
}

/* Grid area cells and rows styling */
.grid-cell {
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
}

.grid-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

















