:root {
    --grid-area-size: 500px;
}

#grid-area {
    border: 1px solid black;
    height: var(--grid-area-size);
    width: var(--grid-area-size);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.grid-cell {
    border: 1px solid grey;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
}

.grid-cell:hover {
    background-color: aquamarine;
}

.grid-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.colored {
    background-color: grey;
}

.flex-container {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
}

#grid-size-slider {
    -webkit-appearance: none;
    outline: none;
    opacity: 0.8;
    background: #d3d3d3;
    border-radius: 0.5rem;
}

#grid-size-slider:hover {
    opacity: 1;
}

