:root {
    --grid-area-size: 500px;
}

#grid-area {
    border: 1px solid black;
    height: var(--grid-area-size);
    width: var(--grid-area-size);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.grid-cell {
    border: 1px solid grey;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
}

.grid-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.colored {
    background-color: grey;
}